.odd{
    font-family: Verdana,"DejaVu Sans",sans-serif;
    background-color: pink;
}

.even#simple_blue{
    color: blue;
    font-size: 36px;
}

.odd.unique{
    font-size: 24px;
}

.even#bold_text{
    font-weight:bold;
    background-color: rgb(134, 236, 134);
    font-size: 24px;
}